body {
  font-family: "mr-eaves-modern", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: "lust-display-didone", serif;
  margin: 0;
}

.hero {
  background-image: url('../images/hero-bg.png');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  z-index: 0;
}
