body {
  font-family: "mr-eaves-modern", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #272727;
  font-weight: normal;
  line-height: 28px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "lust-display-didone", serif;
  margin: 0;
  line-height: 1.5em;
  color: rgb(45, 71, 92);
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 2em;
  text-transform: lowercase;
}

h4 {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h2:after, h4:after {
  content: ' ';
  display: block;
  border-bottom: 1px solid #dd8585;
  width: 100px;
  padding: 10px 0;
}

h4:after {
  margin: 0px auto;
}

h5 {
  font-size: 1em;
}

.wrapper {
  padding: 40px 30px;
}

header nav, footer nav {
  background-color: rgba(45, 71, 92, .97);
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  padding: 15px 30px;
}

header nav {
  position: fixed;
  z-index: 1;
}

header nav ul, footer nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  letter-spacing: 5px;
  font-size: .8em;
  transition: all .3s ease-in-out;
}

nav ul li a:hover {
  color: #dd8585;
}

nav p {
  color: #fff;
}

.logo {
  width: 150px;
  height: 50px;
}

.hero {
  background-image: url('../images/hero-bg.png');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  z-index: 0;
  display: flex;
  align-items: center;
}

.hero-copy {
  width: 60%;
  margin: 0px auto;
  color: rgb(45, 71, 92);
  font-size: 1.3em;
  text-transform: lowercase;
}

.callout {
  background-image: url('../images/speckle-bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  width: 100%;
  padding: 70px 0;
  display: flex;
  align-items: center;
  z-index: -1;
  position: relative;
}

.callout:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(221, 133, 133, .8);
}

.callout-copy {
  margin: 0px auto;
  width: 80%;
  font-size: 2em;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
}

.left {
  width: 60%;
}

.right {
  width: 30%;
}

.about .right {
  text-align: right;
}

#headshot {
  height: 350px;
}

.btn {
  display: block;
  margin: 30px 0;
  padding: 15px 5px;
  background-color: #2d475c;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: .8em;
  letter-spacing: 2px;
  border-radius: 6px;
  transition: all .3s ease-in-out;
}

.btn:hover {
  background-color: #1e3444;
}

.about .btn {
  width: 30%;
}


.buzzwords ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buzzwords ul li {
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: 3px;
  margin: 5px;
  font-weight: bold;
}

.about-addtl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.involvement, .speaking {
  width: 45%;
}

/* Accordion */
.accordion {
  color: #444;
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 18px;
  margin: 5px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "mr-eaves-modern", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.active, .accordion:hover {
  background-color: #e7e7e7;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  text-align: center;
}

.active:after {
  content: "\2796";
}

.work ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.work li {
  width: calc(25% - 20px);
  padding: 10px 0;
  height: 300px;
}

.work .work-box {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work a h4 {
  color: #fff;
}

.work .btn {
  background-color: #fff;
  color: #2d475c;
  width: 70%;
  margin: 0px auto;
}

.work .btn:hover {
  background-color: #e5e5e5;
}

.work-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  opacity: 0;
}

.work-box:hover .work-details {
  background-color: rgba(45, 71, 92, .8);
  opacity: 1;
}
